*{
    margin: 0;
    padding:0;
}

body{
    align-content: center ;
    background-color: yellow;
}

div{
  height: 50px;
  width: 250px;
  border: 1px solid black;
}

#dbl{
  color: white;
  background: dodgerblue;
}